@use '../abstracts' as *;

/* 1120px / 16px = 70em */
@media (max-width: 70em) {
    html {
        font-size: 80%;
    }

    #navbar {
        .navbar_left {
            .logo-container {
                .logo {
                    &:after {
                        top: -0.3rem;
                        right: 0.6rem;
                        padding: 0.4rem;
                        font-size: 1.25rem;
                    }
                }
            }
        }

        .navbar_right {
            .navbar_right-container {
                .projects_link {
                    .projects_link-text {
                        transition: transform 0.5s cubic-bezier(0.48, 0.43, 0.7, 2.5), opacity 0.7s;
                    }
                }
    
                .projects_link-a {
                    left: 0.7rem;
                }
                
                .projects_link-b {
                    top: 1rem;
                }
            }
    
            .nav__btn {
                top: 1.4rem;
                right: 0.8rem;
                padding: 0.6rem;
            }
    
            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(4px) rotate(-225deg);
            }
    
            .nav__cb:checked ~ .nav__btn:after {
                transform: translateY(-4px) rotate(225deg);
            }
        }
    }

    #about_section {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 14rem;

        .about-container {
            position: relative;
            height: auto;
            grid-template-rows: repeat(2, 0.8fr);

            #about-title {
                margin-bottom: 1rem;
                left: 1.7rem;

                &::after {
                    left: -6.4rem;
                    top: 0.8rem;
                }
            }

            .about_description {
                position: relative;
                width: 100%;
                padding: 2rem;
                top: 0;
                grid-column: 1 / 3;
                grid-row: 1 / 1;

                h2 {
                    width: 100%;
                    text-align: center;
                    left: 0;
                    margin: 0;
                    padding: 0;

                    &::after {
                        position: absolute;
                        left: 43%;
                        top: 2rem;
                    }
                }

                p {
                    position: relative;
                    top: 3.5rem;

                }
            }

            .about-languages {
                h2 {
                    width: 100%;
                    top: -2rem;
                    left: -2rem;
                }

                ul {
                    p {
                        font-size: 1.5rem;
                    }

                    li {
                        font-size: 1.3rem !important;
                    }

                    &:nth-child(1) {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    #where {
        width: 100%;
        top: 2rem !important;

        .where-container {
            top: 15%;

            #where-title {
                top: 4rem;
            }

            #footer {
                margin-top: 15.5%;
            }
        }
    }
}