@use '../abstracts' as *;

/*905px*/
@media (max-width: 57em) {
    html {
        font-size: 65%;
    }

    hr {
        left: 9rem;
    }

    #welcome-section {
        width: 100%;
        height: 100vh;
    
        h1 {
            font-size: 5rem;
        }
    }
    
    #navbar {
        #about_navbar {
            display: none !important;
        }
    
        #about-hide {
            display: block !important;
            opacity: 1;
            margin-bottom: -2rem;
        }
        
        .navbar_left {
            .logo-container {
                margin: 2rem 1rem 1rem 1rem;
    
                .logo {
                    &:after {
                        top: -0.1rem;
                        right: 0.5rem;
                        padding: 0.3rem;
                        font-size: 1.4rem;
                        line-height: 25px;
                    }
    
                    &:before {
                        padding: 0 25px;
                        font-size: 2rem;
                        line-height: 40px;
                        opacity: 1;
                        transition: 0.5s;
                        transform: translateY(0) rotateX(0);
                    }
                }
            }
        }
    
        .navbar_right {
            left: 90%;
    
            .nav__btn {
                position: absolute;
                right: 1.4rem;
                top: 2.25rem;
                margin: 0;
                padding: 0.1rem;
                cursor: pointer;
    
                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 2.5rem;
                    height: 0.35rem;
                    border-radius: 2px;
                    background: $clr-text;
                    transform-origin: 50% 50%;
                    transition: transform 1s cubic-bezier(0.48, 0.43, 0.29, 1.3), background-color 0.3s;
                }
    
                &:before {
                    margin-bottom: 0.6rem;
                }
            }
    
            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(6px) rotate(-225deg);
            }
        }
    }
    
    #about_section {
        position: relative;
        top: 0;
        width: 85%;
        height: 120vh;
        left: 5rem;
        margin-bottom: 8rem;
        padding: 0 5rem 0 5rem;
    
        .about-container {
            position: relative;
            top: 15rem;
            left: -3rem;
            height: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.5fr 0.5fr;
    
            #about-title {
                top: 0.5rem;
    
                &::after {
                    left: -6.4rem;
                    top: 1rem;
                }
            }
    
            .about_description {
                position: relative;
                padding: 1rem;
                top: 6rem;
                grid-column: 1 / 3;
                grid-row: 1 / 1;
    
                h2 {
                    position: absolute;
    
                    &::after {
                        position: absolute;
                        left: 35%;
                        top: 2rem;
                    }
                }
    
                p {
                    position: relative;
                    top: 3rem;
                    font-size: 1.5rem;
                }
            }
    
            .about-languages {
                position: relative;
                top: 3rem;
    
                h2 {
                    top: 25%;
                    left: -1.5rem;
                }
    
                ul {
                    grid-column: 1 / 2;
                    grid-row: 2 / 2;
                    margin: 2rem;
                    top: 10rem;
    
                    &:nth-child(1) {
                        top: 15rem;
                    }
    
                    p {
                        margin: 0.8rem;
                    }
    
                    li {
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    
    #projects {
        padding: 10rem 0 4rem 0;
        height: 160vh;
        overflow-x: hidden;
        overflow-y: auto;
    
        #project-title {
            top: 1rem;
            left: 1rem;
            margin-bottom: 10rem;
        }
    
        #card_section {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            height: 100vh;
            left: 1%;
    
            .card {
                background-size: cover;
                padding: 10rem 0 0 0;
                max-width: 30rem;
                justify-self: center;
                overflow: hidden;
                will-change: transform, opacity;
    
                .card-content {
                    background: linear-gradient(
                        hsl(0 0% 0% / 0),
                        hsl(20 0% 0% / .8) 19%,
                        hsl(0 0% 0% / 1)
                    );
    
                    .card-title {
                        top: 0;
                        font-size: calc(#{$font-size-about} + 0.4rem);
                    }

                    .card-body {
                        font-size: calc(#{$font-size-about} + 0.11rem);
                    }
                }

                @media (hover) {
                    &:hover .card-content .card-title::after,
                    &:focus-within .card-content .card-title::after {
                        transform: scaleX(1);
                    }
                }
            }
    
            .card-a {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: span 1;
                z-index: 1;
            }
    
            .card-b {
                top: -5.5rem;
                left: 1rem;
                grid-column-start: 1;
                grid-column-end: span 1;
                grid-row-start: 2;
                grid-row-end: span 2;
                z-index: 2;
            }
    
            .card-c {
                top: 9rem;
                
                grid-column-start: 1;
                grid-column-end: span 1;
                grid-row-start: 3;
                grid-row-end: span 3;
                z-index: 3;
            }
        }
    }
    
    #where {
        top: 1rem;
        height: 100%;
    
        .where-contain {
            margin: 2rem 7rem 3rem 7rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            row-gap: 3.5rem;
    
            a {
                @for $i from 1 to 6 {
                    &:nth-child(#{$i}) {
                        left: 0;
                        grid-column: 1 / 1;
                        grid-row: #{$i} / #{$i};
                    }
                }
            }
        }
    
        #footer {
            display: block;
            top: 8.5rem;
            height: 8%;
            padding: 0;

            p {
                top: -0.5rem;
            }
        }
    }
}