@use '../abstracts' as *;

/* 980px*/
@media (max-width: 61.25em) {
    html {
        font-size: 75%;
    }

    #navbar {
        .navbar_left {
            .logo-container {
                .logo {
                    line-height: 2.5rem;

                    &:after {
                        top: -0.6rem;
                        left: 0.6rem;
                        font-size: 1.25rem;
                    }

                    &:before {
                        padding: 0 25px;
                        font-size: 1.8rem;
                        line-height: 40px;
                    }
                }
            }
        }

        .navbar_right {
            .nav__btn {
                right: 1.1rem;
                top: 1.6rem;
                padding: 0.5rem;
            }
    
            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(4px) rotate(-225deg);
            }
        }
    }

    #where {
        #footer {
            p { 
                top: 6.5rem;
            }
        }
    }
}