@use '../abstracts' as *;

/*524px*/
@media (max-width: 32.75em) {
    html {
        font-size: 55%;
    }

    hr {
        left: 7.5rem;
    }

    #navbar {
        .navbar_right {
            .nav__btn {
                right: 1.95rem;
                top: 2.8rem;
            }

            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(4px) rotate(-225deg);
            }
        }
    }

    #welcome-section {
        width: 100%;
        height: 100vh;
    }
    
    #about_section {
        left: 3rem;
        margin-right: auto;
        padding-right: auto;

        .about-container {
            #about-title {
                top: 0.9rem;
                left: 0;

                &::after {
                    left: 9.5rem;
                    top: -2.5rem;
                }
            }

            .about_description {
                h2 {
                    position: absolute;

                    &::after {
                        position: absolute;
                        left: 41%;
                        top: 2rem;
                    }
                }

                p {
                    position: relative;
                }
            }

            .about-languages {
                h2 {
                    top: 8rem;
                }

                ul {
                    grid-column: 1 / 2;
                    grid-row: 2 / 2;
                    margin: 2rem 1rem 2rem 2rem;
                    top: 10rem;

                    p {
                        margin: 0.8rem;
                    }

                    li {
                        font-size: 1.4rem !important;
                        font-weight: 500;
                    }
                }
            }
        }
    } 

    #projects {
        #card_section {
            .card-b {
                top: -6.75rem;
            }
        }
    }

    #where {
        #footer {
            p { 
                top: 3.5rem;
                font-size: 1.3rem;

                i {
                    font-size: 1.4rem;
                }
            }
        }
    }
}