@use '../abstracts' as *;

/*524px*/
@media (max-width: 32.75em) {
    html {
        font-size: 55%;
    }

    hr {
        left: 7.5rem;
    }

    #navbar {
        .navbar_left {
            .logo-container {
                .logo {
                    &:after {
                        content: attr(data-back);
                        position: absolute;
                        display: block;
                        top: 2rem;
                        left: 1rem;
                        opacity: 0;
                        width: max-content;
                        color: $clr-logo-bg;
                        font-size: 2.2rem;
                        line-height: 25px;
                        transition: 400ms;
                        transform: translateY(-50%) rotate(5deg);
                    }
    
                    &:before {
                        content: url(../logo/logo.svg);
                        position: relative;
                        display: block;
                        top: 0;
                        margin-left: -45%;
                        opacity: 1;
                        transition: 400ms;
                        transform: translateY(0);
                    }
                }
            }
        }

        .navbar_right {
            .nav__btn {
                right: 1.95rem;
                top: 2.8rem;
            }

            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(4px) rotate(-225deg);
            }
        }
    }

    #welcome-section {
        width: 100%;
        height: 100vh;

        .page {
            .punt {
                position: absolute;
                display: none;
                width: 100%;
                height: 100%;
                transform: translate(96.8%, -45%);
                cursor: default;
                z-index: -1111;
    
                h1 {
                    color: $clr-text;
                    font-family: $font-secondary;
                    font-size: calc(#{$font-size-title} - 0.5rem);
    
                    animation: punt 2s 700ms 1;
                }

                @media (hover) {
                    & {
                        display: block;
                    }
                }
            }
        }
    }
    
    #about_section {
        left: 1.5rem;
        margin-right: auto;
        padding-right: auto;

        .about-container {
            .about-languages {
                width: 120%;

                h2 {
                    top: 8rem;
                    width: max-content;
                }

                ul {
                    grid-column: 1 / 2;
                    grid-row: 2 / 2;
                    margin: 2rem 0;
                    top: 10rem;

                    p {
                        margin: 0.9rem;
                    }

                    li {
                        font-size: 1.4rem !important;
                        font-weight: 500;
                    }
                }
            }
        }
    } 

    #projects {
        top: 10rem;
        left: -1rem;

        #card_section {
            .card-b {
                top: -6.75rem;
            }
        }
    }

    #where {
        .where-container {
            #footer {
                top: 2rem !important;

                p {
                    font-size: 1.3rem;

                    i {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}