@use '../abstracts' as *;

/*672px*/
@media (max-width: 42em) {
    html {
        font-size: 60%;
    }

    hr {
        left: 9rem;
    }

    #navbar {
        .navbar_left {
            .logo-container {
                .logo {
                    line-height: 2.5rem;

                    &:after {
                        top: 0rem;
                        left: 0.6rem;
                        font-size: 1.4rem;
                    }

                    &:before {
                        padding: 0 25px;
                        font-size: 2rem;
                        line-height: 40px;
                    }
                }
            }
        }

        .navbar_right {
            .nav__btn {
                right: 1.7rem;
                top: 2.48rem;
            }

            .nav__cb:checked ~ .nav__btn:before {
                transform: translateY(5px) rotate(-225deg);
            }
        }
    }

    #about_section {
        height: 100vh;
    }

    #projects {
        height: 150vh;

        #card_section {
            .card {
                width: 35rem;
            }

            .card-b {
                top: -7.5rem;
            }
        }
    }

    #where {
        .where-container {
            top: 7.5rem;

            #footer {
                margin-top: 25%;

                p { 
                    font-size: 1.3rem; 
                    
                    i {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}