@use '../abstracts' as *;

#where {
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    z-index: -1111;

    #where-title {
        position: relative;
        text-align: center;
        top: 14.5rem;
        z-index: -1111;

        h2 {
            font-size: $font-size-subtitle;
            margin-bottom: 6rem;
        }
    }

    .where-contain {
        overflow: hidden;
        position: relative;
        display: grid;
        top: 13rem;
        margin-left: 4rem;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem 10rem;

        a {
            display: inline-block;
            color: $clr-text !important;
            text-align:center;
            margin-left: 1rem;
            padding: 1rem;
            position: relative;
            font-size: 1.6rem;
            opacity: 0;
            transition: transform 2s .25s cubic-bezier(0, 1, .2, 2),
                        opacity .3s .25s ease-out;
            will-change: transform, opacity;

            &:hover,
            &:focus {
                transform: scale(1.2) !important;
            }

            &:hover:after,
            &:focus:after {
                transform: scaleX(1);
            }

            &:after {
                content: '';
                position: absolute;
                background-color: $clr-logo-bg;
                width: 4rem;
                height: 0.1rem;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 0.5rem;
                transform: scaleX(0);
                transition: all .2s ease;
            }

            &.is-visible {
                opacity: 1;
                transform: rotateZ(-5deg);
            }

            &:nth-child(1) {
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            &:nth-child(2) {
                grid-column: 2 / 2;
                grid-row: 1 / 1;
            }
            
            &:nth-child(3) {
                grid-column: 3 / 3;
                grid-row: 1 / 1;
            }
            
            &:nth-child(4) {
                grid-column: 1 / 1;
                grid-row: 2 / 2;
            }
            
            &:nth-child(5) {
                grid-column: 2 / 2;
                grid-row: 2 / 2;
            }

            &:nth-child(4),
            &:nth-child(5) {
                left: 11rem;
            }
        }
    }

    #footer {
        position: relative;
        display: grid;
        top: 18rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: end;
        height: 3rem;
        margin-bottom: 2rem;

        p {
            position: relative;
            top: -2rem;
            font-size: 1.1rem;
            text-align: right;
            margin-right: 3rem;

            i {
                color: $clr-text !important;
                font-size: 1.2rem;
            }
        }
    }
}