@use '../abstracts/' as *;

#about_section {
    position: relative;
    width: 100%;
    height: 100vh /*  100%; */;
    padding: 0 7rem 0 12rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1111;

    .about-container {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 0.5fr 0.5fr;
        gap: 0.2rem;
        justify-content: stretch;

        #about-title {
            position: absolute;
            display: inline-block;
            top: 12rem;
            padding: 0 0 0 0.9rem;
            color: $clr-accent;
            font-size: $font-size-subtitle;

            &::after {
                content: '';
                position: relative;
                display: inline-block;
                background: $clr-text;
                height: 4px;
                left: -6.4rem;
                top: 0.8rem;
                width: 4.8rem;
            }
        }

        .about_description {
            position: relative;
            padding: 1rem;
            top: 10%;
            height: fit-content;
            letter-spacing: 0.3px;
            grid-column: 1;
            grid-row: 1 / 2;
            align-self: center;
            text-align: left;

            h2 {
                position: absolute;
                color: $clr-accent;
                font-size: $font-size-t;

                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    background: $clr-text;
                    height: 4px;
                    left: 35%;
                    top: 2rem;
                    width: 11rem;
                    }
            }

            p {
                position: relative;
                top: 3rem;
                color: $clr-text !important;
                font-size: 1.3rem;
                font-family: $font-secondary;
                font-weight: 500;
            }
        }

        .about-languages {
            h2 {
                position: absolute;
                top: 8rem;
                margin: 2rem;
                font-size: 2rem;
                color: $clr-accent !important;
            }

            ul {
                position: relative;
                grid-column: 2;
                grid-row: 1 / 2;
                margin: 2rem;
                padding: 0;
                top: 13rem;
                text-align: left;
                align-self: center;

                p {
                    margin: 0.8rem;
                    color: $clr-accent;
                }

                li {
                    margin: 0.4rem -1rem;
                    list-style: none;
                    padding-left: 3rem;
                    color: $clr-text !important;
                    font-size: 1.1rem;
                    font-family: $font-secondary;
                    font-weight: 900
                }
            }
        }
    }
}