@use '../abstracts' as *;

#navbar {
    position: fixed;
    display: flex;
    height: 10rem;
    flex-direction: row;
    width: 100vw;
    z-index: 1111;

    .hover-this {
        transition: all 0.3s ease;
        color: $clr-accent;
    }

    a span {
        transition: transform 0.2s ease-in;
    }

    .navbar_left {
        margin: 1rem;

        &,
        & a {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            text-align: center;
            font-weight: 600;
            animation-delay: 0.5s;
        }

        .logo-container {
            position: relative;
            display: flex;
            padding: 0;
            margin: 2rem 1rem 0 1.5rem;
            width: 100%;
            background: transparent;
            justify-content: center;

            .logo {
                position: relative;
                display: block ruby;
                font-size: 0;
                opacity: 1;
                transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                            opacity .3s .25s ease-out;
                width: 100%;

                will-change: transform, opacity;
                outline: 0;
                color: $clr-text !important;
                text-align: center;
                text-decoration: none;

                &:after {
                    content: attr(data-back);
                    position: absolute;
                    display: block;
                    top: 2rem;
                    left: 1rem;
                    opacity: 0;
                    width: max-content;
                    color: $clr-logo-bg;
                    font-size: 1.7rem;
                    line-height: 25px;
                    transition: 400ms;
                    transform: translateY(-50%) rotate(5deg);
                }

                &:before {
                    content: url(../logo/logo.svg);
                    position: relative;
                    display: block;
                    top: 0;
                    margin-left: 60%;
                    opacity: 1;
                    transition: 400ms;
                    transform: translateY(0);
                }

                &:hover:after{
                    opacity: 1;
                    transform: translateY(35%) rotate(-5deg);
                }

                &:hover:before {
                    opacity: 0;
                    transform: translateY(50%);
                }
            }
        }

        .about_link {
            --pX: 0;
            --pY: 0;

            position: relative;
            display: grid;
            align-items: center;
            left: 55%;
            margin: calc(14.5rem - 100%) 0 0 0;

            #about_navbar {
                position: relative;
                width: 7rem;
                height: 16rem;
                text-align: center;
                padding: 0 0 0 35%;
                font-size: $font-size-about;
                writing-mode: vertical-lr;
                text-orientation: upright;

                transition: transform 200ms linear;
                transform: translate(calc(var(--pX) * 1%), calc(var(--pY) * 1%));
    
                &:focus,
                &:hover {
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }

    .navbar_right {
        position: relative;
        margin: 0 2rem 0 auto;
        height: 2rem;
        top: 3.5rem;
        right: 1rem;
        align-items: center;

        .nav__cb {
            position: absolute;
            display: none !important;
            opacity: 0;
            margin: 0;
            padding: 0;
        }

        .navbar_right-container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            column-gap: 2rem;

            #about-hide {
                position: absolute;
                display: none !important;
                color: $clr-accent;
                opacity: 0;
                margin: 0;
                padding: 0;
            }

            a {
                position: relative;
                display: inline-block;
                color: $clr-accent !important;
                border-radius: 0.5rem;
                text-align:center;
                transition: all .2s ease;

                &:hover,
                &:focus {
                    transform: scale(1.2);
                }

                &:hover:after,
                &:focus:after {
                    transform: scaleX(1);
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 4.5rem;
                    height: 0.15rem;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    bottom: 0.5rem;
                    background-color: $clr-text;
                    transform: scaleX(0);
                    transition: all .2s ease;
                }

                span {
                    display: inline-block;
                    margin: 0;
                    padding: 1rem;
                    color: $clr-accent;
                    font-size: $font-size-t;
                }
            }
        }
    }
}