@use '../abstracts' as *;

#welcome-section {
    width: 100%;
    height: 101vh /*100%*/;
    z-index: -1111;

    .page {
        position: relative;
        top: 50%;
        left: 50%;
        width: max-content;
        height: max-content;
        transform: translate(-50%, -50%);

        .titleContainer {
            --maskX: 0;
            --maskY: 50;
        
            position: relative;
            display: grid;
            width: 100%;
            height: 100%;
            place-items: center;
            font-family: 'Times New Roman', Times, serif;
            
            h1 {
                position: relative;
                width: max-content;
                font-family: $font-secondary;
                font-size: $font-size-title;
                color: $clr-text !important;
            }
        }
        
        .titleWraper {
            position: relative;
            cursor: default;
        }
        
        .cloneWraper {
            position: relative;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
            transition: all 1.5s cubic-bezier(0.165,0.84,0.44,1);
    
            h1 {
                color: $clr-accent !important;
            }

            @media (hover) {
                & {
                    clip-path: polygon(0 0, calc(var(--maskX) * 1%) 0, calc(var(--maskY) * 1%) 100%, 0 100%);
                }
            }
        }

        .punt {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translate(96.8%, -45%);
            cursor: default;
            z-index: -1111;

            h1 {
                color: $clr-text;
                font-family: $font-secondary;
                font-size: calc(#{$font-size-title} - 0.5rem);

                animation: punt 2s 700ms 1;
            }
        }
    }
}